.chart {
    width: 800px;
    height: 800px;
    background-color: #f0f0f0;
    margin: 25px auto;
    position: relative
}

.axis {
    font-size: 18px;
    /* Add shape rendering to improve quality of our axis */
    shape-rendering: geometricPrecision;
}

#tooltip {
    text-align: center;
    border: 1px solid #ccc;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    display: none;
}

#tooltip .metric-date {
    text-decoration: underline;
}